{% extends 'base.html' %}

{% block content %}

<h2>About Us</h2>

<p>
MovieHub is a movie booking and review management
platform created to simplify movie discovery and ticket
reservation.
</p>

<p>
Users can browse available movies, view show timings,
check seat availability, and share reviews based on
their viewing experience.
</p>

<p>
The project demonstrates how an online movie booking
system can improve user convenience while providing
valuable feedback through ratings and reviews.
</p>
<p>Our key features include:
    <ul>
        <li>User Registration & Authentication </li>
        <li>Movie & Show Management</li>
        <li>Movie Search & Filtering</li>
        <li>Ticket Booking & Seat Selection</li>
        <li>Payment & Transactions</li>
        <li>Reviews & Ratings</li>
        <li>Notifications & Alerts</li>
        <li>Admin Dashboard & Reports</li>
    </ul>
</p>
{% endblock %}