{% extends 'base.html' %}

{% block content %}

<h2>Welcome to MovieHub</h2>

<p>
<section class="hero">
    <h1>MovieHub</h1>
    <p>Discover Movies. Book Tickets. Share Reviews.</p>
</section>
<div class="features">
    <div class="card">
        <h3>🎬 Browse Movies</h3>
        <p>Explore trending and upcoming movies.</p>
    </div>

    <div class="card">
        <h3>🎟 Ticket Booking</h3>
        <p>Select seats and reserve tickets easily.</p>
    </div>

    <div class="card">
        <h3>⭐ Reviews</h3>
        <p>Rate movies and read audience opinions.</p>
    </div>
</div>
<h2>Featured Movies</h2>

<div class="movie-list">
    <div class="movie-card">
        <h3>Interstellar</h3>
        <p>Sci-Fi Adventure</p>
    </div>

    <div class="movie-card">
        <h3>Avengers Endgame</h3>
        <p>Action / Superhero</p>
    </div>

    <div class="movie-card">
        <h3>Inception</h3>
        <p>Thriller / Sci-Fi</p>
    </div>
</div>
{% endblock %}